@font-face {
    font-family: RobotoMono-Regular;
    src: local(RobotoMono-Regular),
        url(./assets/fonts/RobotoMono-Regular.woff2) format("woff2"),
        url(./assets/fonts/RobotoMono-Regular.woff) format("woff"),
        url(./assets/fonts/RobotoMono-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: RobotoMono-Medium;
    src: local(RobotoMono-Medium),
        url(./assets/fonts/RobotoMono-Medium.woff2) format("woff2"),
        url(./assets/fonts/RobotoMono-Medium.woff) format("woff"),
        url(./assets/fonts/RobotoMono-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
