/* Button */

.news-feed-panel-bt {
    position: relative;
    cursor: pointer;
    background-image: linear-gradient(to right, #862e9c, #00abfb);
    background-size: 300% 200%;
    background-position: 100% 50%;
    transition: background-position 0.3s linear;
    padding: 7px 8px;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.news-feed-panel-bt--pressed {
    background-position: 0% 50%;
}

.news-feed-panel-bt:hover {
    background-position: 0% 50%;
}

.news-feed-panel-bt__icon {
    height: 25px;
    width: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='2' stroke='%23ffffff' fill='none' stroke-linecap='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11' /%3E%3Cline x1='8' y1='8' x2='12' y2='8' /%3E%3Cline x1='8' y1='12' x2='12' y2='12' /%3E%3Cline x1='8' y1='16' x2='12' y2='16' /%3E%3C/svg%3E");
}

.news-feed-panel-bt__count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #862e9c;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 0.9rem;
}

/* Panel */

.news-feed-panel {
    position: absolute;
    top: 45px;
    right: 0;
    width: min(300px, 80vw);
    border: 1px solid #743fa9;
    background-color: #1a1126;
    padding: 7px 15px;
    border-radius: 10px;
    z-index: 100;
}

.news-feed-panel__close {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

.news-feed-panel__close::after {
    content: "✖";
}

.news-feed-panel__title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.news-feed-panel__description {
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.news-feed-panel__threads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.news-feed-panel__chat-list-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.news-feed-panel__no-msg-text {
    margin-bottom: 30px;
    font-size: 0.9rem;
    font-style: italic;
}

.news-feed-panel__news-list {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 15px;
}

/* News List */

.news {
    display: flex;
    flex-direction: column;
}

.news--unread {
    background: #fff1;
    padding: 5px;
}

.news__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.news__proximity {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.news__text {
    font-size: 0.9rem;
}

.news__date {
    font-size: 0.75rem;
    color: #fff5;
    text-align: right;
}
