.cell-panel {
    position: absolute;
    background-color: #000c;
    padding: 20px;
    border-radius: 10px;
    z-index: 12;
    border: 2px solid;
}

.cell-panel--local {
    font-weight: bold;
}

/* Cell Stats */

.cell-stats {
    display: flex;
    flex-direction: column;
    font-size: 0.925rem;
    width: max-content;
}

.cell-stats__title {
    font-weight: bold;
    font-size: 1.25rem;
    filter: brightness(1.65);
}

.cell-stats__space {
    margin-bottom: 10px;
}

.cell-stats__subtitle {
    font-size: 1.1rem;
    margin-bottom: 5px;
    filter: brightness(1.65);
}

.cell-stats__line {
    filter: brightness(1.65);
    border: 1px solid;
    margin: 10px 0;
}

.cell-stats__row {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.cell-stats__label {
    color: #fff8;
}

.cell-stats__countdown {
    width: 60px;
    text-align: right;
}

.cell-stats__tooltip-label {
    border-bottom: 1px dashed #fff8;
}

.cell-stats__actions {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    margin-top: 5px;
}

.cell-stats__button {
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    padding: 3px 7px;
    border-radius: 7px;
    border: none;
}

.cell-stats__button:active {
    filter: brightness(1.5);
}

.cell-stats__button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.cell-stats__button:disabled:active {
    filter: brightness(1);
}
