/* Button */

.messages-panel-bt {
    position: absolute;
    left: 0;
    width: 130px;
    cursor: pointer;
    background-image: linear-gradient(to right, #862e9c, #00abfb);
    background-size: 300% 200%;
    background-position: 100% 50%;
    transition: background-position 0.3s linear;
    padding: 7px 15px;
    border-radius: 10px;
    z-index: 100;
}

.messages-panel-bt:hover {
    background-position: 0% 50%;
}

.messages-panel-bt__title {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    justify-content: space-between;
}

.messages-panel-bt__unread {
    border-radius: 100%;
    background-color: #862e9c;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 0.9rem;
}

/* Panel */

.messages-panel {
    position: absolute;
    left : 0;
    width: min(300px, 80vw);
    border: 1px solid #743fa9;
    background-color: #1a1126;
    padding: 7px 15px;
    border-radius: 10px;
    z-index: 100;
}

.messages-panel__close {
    height: 22px;
    width: 22px;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

.messages-panel__close::after {
    content: "✖";
}

.messages-panel__title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.messages-panel__description {
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.messages-panel__threads {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.messages-panel__chat-list-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.messages-panel__no-msg-text {
    margin-bottom: 30px;
    font-size: 0.9rem;
    font-style: italic;
}

.message-panel__connection-lost {
    margin: 30px 0;
    font-style: italic;
    color: #fff8;
}

/* Chat List */

.msg-header {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background: #fff2;
    justify-content: space-between;
    padding: 5px 15px;
    cursor: pointer;
    margin: 3px;
    width: 35%;
}

.msg-header:hover {
    background: #fff3;
}

.msg-header--selected {
    background: #fff5;
}

.msg-header--selected:hover {
    background: #fff5;
}

.msg-header__unread {
    border-radius: 100%;
    background-color: #862e9c;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 0.9rem;
}

/* Chatroom */

.chatroom {
    margin-top: 20px;
}

.chatroom__messages {
    height: 220px;
    padding: 5px;
    background-color: #0009;
    overflow-y: auto;
}

.chatroom__input-area {
    margin-top: 3px;
    display: grid;
    grid-template-columns: auto 55px;
    min-height: 25px;
    column-gap: 3px;
    align-items: center;
}

.chatroom__input {
    resize: none;
    background-color: #0009;
    color: #fff;
    border: none;
    outline: none;
}

.chatroom__input-bt {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    font-size: 0.9rem;
    background-color: #0009;
    border: 1px solid #000;
    width: fit-content;
}

.chatroom__input-bt:hover {
    border: 1px solid #fff5;
}

.chatroom__input-bt:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Message */

.message {
    margin: 5px;
    text-align: right;
}

.message--received {
    text-align: left;
}

.message__date {
    font-size: 0.75rem;
    color: #fff5;
}
