.dashboard {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 10px;
}

.dashboard__actions {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
